<!DOCTYPE html>

<html>

<!--
http://jsfiddle.net/mjaric/pJ5BR/
-->

<head>

   <link rel='stylesheet' type='text/css' href='lwb.css'/>

</head>

<body>

    <script type="text/javascript" src="lwb.js"></script>

<div ng-app="myApp">
<div ng-controller="PeopleCtrl">
{{4 + 5}}


    <p>    Click <a ng-click="loadPeople()">here</a> to load data.</p>
{{4 + 5}}
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.id}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
    </tr>
</table>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js">
    </script>


</body>
</html>
