.timer {
	border-bottom: solid #0f0 1px;
}
table.lwb {
	margin-top: 40px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	width: 50%;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}

table.lwb td {
	padding: 8px;
	margin: 0;
}

table.lwb tr {
	padding: 0;
	margin: 0;
}

body  {
	background-color: #111;
	color: #0f0;
	font-family: 'Orbitron', sans-serif;
}


